{% extends "base.html" %}

{% block content %}
    {% comment %} {% for car in object_list %} {% endcomment %}
        <h3> Hi {{username}}! </h3>
    {% for car in cars %}
   
        <div class="card">
            <div class="card-body">
            
                <a href={% url 'home:car_details' car.brand car.model car.year %} > <h5 class="card-title">{{car.brand}}-{{car.model}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{car.year}}</h6>
                
            </div>
        </div>
    {% endfor %}  

{% endblock content %}